{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'financez/main.css' %}">
</head>

<body>

    <div class="header-menu">
        <a href="{% url 'main_book' %}" class="menu-item">
            Main book
        </a>
        <a href="{% url 'main_book' %}" class="menu-item">
            Reports
        </a>
        <a href="{% url 'main_book' %}" class="menu-item">
            Settings
        </a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    {% block scripts %}

    {% endblock %}

</body>

</html>