{% load static %}
{% load i18n %}

<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Financez</title>
        <link rel="stylesheet" type="text/css" href="{% static 'financez/base.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'financez/favicon.ico' %}"/>
        {% block extra_styles %}
        {% endblock %}
    </head>

    <body>
        <div class="header-row">
            <div class="header-menu">
                <div class="logo-wrapper">
                    <img style="height: 35px;" src="{% static 'financez/logo.png' %}"/>
                </div>
                <a href="{% url 'main' %}" class="menu-item">
                    {% trans 'Main' %}
                </a>
                <a href="{% url 'entries' %}" class="menu-item">
                    {% trans 'Entries'%}
                </a>
                <a href="{% url 'settings' 'general'  %}" class="menu-item">
                    {% trans 'Settings' %}
                </a>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <script type = "application/javascript" src="{% static 'financez/jquery-3.4.1.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}

        <footer>
            <div class="footer-row">
                FINANCEZ
            </div>
        </footer>

        <div id="modal-background"> </div>

    </body>

</html>