{% load static %}

<!doctype html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Financez</title>
        <link rel="stylesheet" type="text/css" href="{% static 'financez/main.css' %}">
        <link rel="shortcut icon" type="image/jpg" href="{% static 'financez/favicon.ico' %}"/>
        {% block extra_styles %}
        {% endblock %}
    </head>

    <body>
        <div class="header-row">
            <div class="header-menu">
                <div class="logo-wrapper">
                    <img style="height: 25px;" src="{% static 'financez/logo0.png' %}"/>
                </div>
                <a href="{% url 'main_book' %}" class="menu-item">
                    Main
                </a>
                <a href="{% url 'reports' %}" class="menu-item">
                    Reports
                </a>
                <a href="{% url 'settings' 'ast'  %}" class="menu-item">
                    Settings
                </a>
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

        <script type = "application/javascript" src="{% static 'financez/jquery-3.4.1.min.js' %}"></script>
        {% block scripts %}
        {% endblock %}

        <footer>
            <div class="footer-row">
                FINANCEZ
            </div>
        </footer>
    </body>

</html>