{% extends "financez/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'financez/index.css' %}">
{% endblock %}

{% block content %}

    <div class="row">
        <div class="results">

            <div class="results-block">
                <div class="results-header">{% trans 'Results' %}</div>
                {% for result_row in results_queryset %}
                    {% if result_row.acc__results == result_types.assets %}
                        {% if not result_row.acc__parent %}
                            <label> {{ result_row.acc__name }}</label>
                            <label> {{ result_row.total|floatformat:3 }}</label>
                        {% elif result_row.total %}
                            <label style='opacity: 0.6'> {{ result_row.acc__name }}</label>
                            <label style='opacity: 0.6'> {{ result_row.total|floatformat:3 }}</label>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="results-block">
                <div class="results-header">{% trans 'Planning' %}</div>
                {% for result_row in results_queryset %}
                    {% if result_row.acc__results == result_types.plans %}
                        <label> {{ result_row.acc__name }}</label>
                        <label> {{ result_row.total|floatformat:3 }}</label>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="results-block">
                <div class="results-header">{% trans 'Debts'%}</div>
                {% for result_row in results_queryset %}
                    {% if result_row.acc__results == result_types.debts and result_row.total != 0 %}
                        {% widthratio result_row.total 1 -1 as total_debt %}
                        <label>{{ result_row.acc__name }}</label>
                        <label>{{ total_debt|floatformat:3 }} </label>
                    {% endif %}
                {% empty %}
                    <label>-</label>
                {% endfor %}
            </div>

            <div class="results-block">
                <div class="results-header">{{ current_month|date:"M Y" }}</div>
                <span>{% trans 'Incomes' %}</span>
                <span>{{ incomes_sum|floatformat:3 }}</span>
                <span>{% trans 'Expenses' %}</span>
                <span>{{ expenses_sum|floatformat:3 }} </span>
                <span>{% trans 'Result' %}</span>
                <span>{{ month_result|floatformat:3 }} </span>
            </div>

        </div>
    </div>

    <div class="row">
        <form method="POST" class="new-entry-form">
            {% csrf_token %}
            {{ form.date }}
            {{ form.acc_dr }}
            <input id="acc_dr_visible"/>
            {{ form.acc_cr }}
            <input id="acc_cr_visible"/>
            {{ form.total }}
            {{ form.currency }}
            {{ form.comment }}
            <button>{% trans 'Add' %}</button>
        </form>
    </div>

    <div class="row">
        <div class="main-book-header">
            <div>{% trans 'Date' %}</div>
            <div>{% trans 'DR' %}</div>
            <div>{% trans 'CR' %}</div>
            <div style="text-align: right">{% trans 'Sum' %}</div>
            <div style="text-align: center">{% trans 'Currency' %}</div>
            <div>{% trans 'Comment' %}</div>
        </div>
    </div>

    <div class="row">
        <div class="main-book">
            {% for entry in entries %}
                <div class="main-book-row {{ entry.date|date:'YMd' }}">
                    <div class="main-book-item">{{ entry.date|date:"Y M d"  }}</div>
                    <div class="main-book-item">{{ entry.acc_dr__name }}</div>
                    <div class="main-book-item">{{ entry.acc_cr__name }}</div>
                    <div class="main-book-item" style="text-align: right">{{ entry.total|floatformat:3 }}</div>
                    <div class="main-book-item" style="text-align: center">{{ entry.currency__name }}</div>
                    <div class="main-book-item">{{ entry.comment }}</div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="modal-account-list">
        <div class="account-container">
            <input id="acc_type" hidden />
            <div class="acc-list-block" style="grid-area: a">
                <label class="results-header"> Assets </label>
                <div> {% include 'financez/account_list.html' with type=result_types.assets account_list=account_list padding=10 %} </div>
            </div>
            <div class="acc-list-block" style="grid-area: b; border-left: 1px solid #dbdbdb">
                <label class="results-header"> Expenses </label>
                <div> {% include 'financez/account_list.html' with type=result_types.expenses account_list=account_list padding=10 %} </div>
            </div>
            <div class="acc-list-block" style="grid-area: c">
                <label class="results-header"> Plans </label>
                <div> {% include 'financez/account_list.html' with type=result_types.plans account_list=account_list padding=10 %} </div>
            </div>
            <div class="acc-list-block" style="grid-area: d">
                <label class="results-header"> Debts </label>
                <div> {% include 'financez/account_list.html' with type=result_types.debts account_list=account_list padding=10 %} </div>
            </div>
            <div class="acc-list-block" style="grid-area: e">
                <label class="results-header"> Incomes </label>
                <div> {% include 'financez/account_list.html' with type=result_types.incomes account_list=account_list padding=10 %} </div>
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'financez/main_book.js' %}"></script>
{% endblock %}
