{% extends 'financez/base.html' %}
{% load static %}
{% load i18n %}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'financez/reports.css' %}">
{% endblock %}


{% block content %}

    <div class="dashboard">

        <div class="settings_block">
            <div>
                <input id="period-from" name="period-from" type="date" value={{ period_from }}>
                <lbael> - </lbael>
                <input id="period-to" name="period-to" type="date" value={{ period_to }}>
                <button id="update-report"> {% trans 'update' %} </button>
            </div>
            <div class="settings-row">
                <input class="checkbx" type="checkbox" name="group_all" id="group_all">
                <label class="settings-item" for="group_all">Group all</label>
                <input class="checkbx" type="checkbox" name="group_details" id="group_details">
                <label class="settings-item" for="group_details">Group details</label>
            </div>
        </div>

        <div class="results">

            <div class="results-block">
                <div class="results-header">{% trans 'Results' %}</div>
                {% include 'financez/results.html' with qs=results_queryset type=result_types.assets %}
            </div>

            <div class="results-block">
                <div class="results-header">{% trans 'Planning' %}</div>
                {% include 'financez/results.html' with qs=results_queryset type=result_types.plans %}
            </div>

            <div class="results-block">
                <div class="results-header">{% trans 'Debts'%}</div>
                {% include 'financez/results.html' with qs=results_queryset type=result_types.debts %}
            </div>

            <div class="results-block">
                <div class="results-header">{{ current_month|date:"M Y" }}</div>
                <span>{% trans 'Incomes' %}</span>
                <span>{{ incomes_sum|floatformat:3 }}</span>
                <span>{% trans 'Expenses' %}</span>
                <span>{{ expenses_sum|floatformat:3 }} </span>
                <span>{% trans 'Result' %}</span>
                <span>{{ month_result|floatformat:3 }} </span>
            </div>

        </div>

    </div>

    <div class="dx-viewport">
        <div class="demo-container" data-url="{% url 'report_data' %}" data-details-url="{% url 'report_details' %}">
            <div id="chart" style="height: 750px"></div>
        </div>
    </div>

    <div class="dx-viewport dx_hidden">
        <div class="demo-container">
            <div id="chart_details"></div>
        </div>
    </div>

    <div class="report_block" id="report_entries" data-entries-url="{% url 'report_entries' %}">
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'financez/reports.js' %}"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="{% static 'financez/devextreme/css/dx.common.css' %}">
    <link rel="stylesheet" href="{% static 'financez/devextreme/css/dx.light.css' %}">
    <!-- DevExtreme library -->
    <script type="text/javascript" src="{% static 'financez/devextreme/js/dx.all.js' %}"></script>
{% endblock %}
