{% extends 'financez/base.html' %}
{% load static %}
{% load i18n %}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'financez/reports.css' %}">
{% endblock %}


{% block content %}
    <div class="dx-viewport">
        <div class="period">
            <input id="period-from" name="period-from" type="date" value={{ period_from }}>
            <lbael> - </lbael>
            <input id="period-to" name="period-to" type="date" value={{ period_to }}>
            <button id="update-report"> {% trans 'update' %} </button>
        </div>
        <div class="demo-container" data-url="{% url 'report_data' %}" >
            <div id="chart" style="height: 750px"></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'financez/reports.js' %}"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" href="{% static 'financez/devextreme/css/dx.common.css' %}">
    <link rel="stylesheet" href="{% static 'financez/devextreme/css/dx.light.css' %}">
    <!-- DevExtreme library -->
    <script type="text/javascript" src="{% static 'financez/devextreme/js/dx.all.js' %}"></script>
{% endblock %}
