{% extends 'financez/base.html' %}
{% load static %}


{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'financez/settings.css' %}">
    <style>
        #{{ sections.assets }} #menu-assets,
        #{{ sections.plans }} #menu-plans,
        #{{ sections.debts }} #menu-debts,
        #{{ sections.incomes }} #menu-incomes,
        #{{ sections.expenses }} #menu-expenses
        {
            border-left: 1px solid gray;
            font-weight: bold;
        }
    </style>
{% endblock %}


{% block content %}
    {% csrf_token %}
    <div class="row">
        <div id="acc-list" class="account-list" data-url="{% url 'change_field' %}">
            <div class="settings-menu" id="{{ section }}">
                <a class="set-menu-item" href="{% url 'settings' sections.assets %}" id="menu-assets">Assets</a>
                <a class="set-menu-item" href="{% url 'settings' sections.plans %}" id="menu-plans">Planning</a>
                <a class="set-menu-item" href="{% url 'settings' sections.debts %}" id="menu-debts">Debts</a>
                <a class="set-menu-item" href="{% url 'settings' sections.incomes %}" id="menu-incomes">Incomes</a>
                <a class="set-menu-item" href="{% url 'settings' sections.expenses %}" id="menu-expenses">Expenses</a>
            </div>

            <div class="acc-tree">
                <div class="acc-tree-row-header">
                    <div class="acc-tree-header">Name</div>
                    <div class="acc-tree-header">Parent</div>
                    <div class="acc-tree-header">Order</div>
                    <div class="acc-tree-header">Type</div>
                    <div class="acc-tree-header">Results</div>
                    <button id="new-acc-button"> + </button>
                </div>
                {% include 'financez/account_settings.html' with account_list=account_list padding=0 %}
            </div>

        </div>
    </div>

    <div id="modal-new-acc">
        <form id="form-new-acc" method='post', action="{% url 'new_acc' %}">
            {% csrf_token %}
            {{ new_acc_form }}
            <button style='margin-top: 20px; grid-column: 2/3'>Create</button>
        </form>
    </div>

    <div id="modal-del-acc">
        <form id="form-del-acc" method='post'>
            {% csrf_token %}
            <input name="section" value={{ section }} hidden />
            <label>Are you sure?</label>
            <button>Yes</button>
        </form>
    </div>

{% endblock %}


{% block scripts %}
    <script src="{% static 'financez/settings.js' %}"></script>
{% endblock %}
