.main-book {
    overflow: hidden;
    overflow-y: auto;
    width: 70%;
    height: 600px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: #FFF;
}
.main-book-header {
    height: 15px;
    width: 70%;
    padding: 5px;
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 10% 35%;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
}
.main-book-row {
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 10% 35%;
    grid-auto-rows: max-content;
}
.main-book-row:hover {
    color: black;
}
.main-book-item {
    cursor: pointer;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.new-entry-form {
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 10% 30% 5%;
    width: 70%;
    grid-row-gap: 10px;
    margin: 20px 0px 20px 0px;
}
.new-entry-form input {
    width: 100%;
}
.new-entry-form select {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .new-entry-form {
        width: 95%
    }
   .main-book {
        width: 95%;
   }
   .main-book-header {
        width: 95%;
   }
}

/*modal window */

#modal-account-list {
    display: none;
    position: absolute;
    top: 100px;
    width: 600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: white;
    z-index: 5;
    border-radius: 5px;
}
.account-container {
    margin: 20px;
    overflow-y: scroll;
    height: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: max-content;
    grid-template-areas:
        "a b"
        "c b"
        "d b"
        "e b"
        "f b";
}
.acc-item {
    cursor: pointer;
    margin: 2px;
}
.acc-item:hover {
    background-color: #e6f0ff;

}
.acc-list-block {
    border-bottom: 1px solid #dbdbdb;
    padding: 10px;
}
