html {
    font-family: monospace;
    color: #2f2f2f;
}
a {
    text-decoration: none;
    color: black;
}
hr {
    color: white;
    width: 70%;
    border-top: 1px solid #dbdbdb;
}
.header-menu {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    border-bottom: 1px solid #dbdbdb;
    height: 30px;
}
.menu-item {
    text-align: center;
}

.row {
    display: flex;
    justify-content: center;
}

