#pivotgrid {
    margin-top: 20px;
}
.dx-viewport {
    margin: 20px 10px 10px 10px;
    padding-bottom: 10px;
    border: 1px solid #dbdbdb;
}
#chart_details {
    height: 400px;
}
.currency {
    text-align: center;
}
.dx_hidden {
    display: none;
}
.period {
    padding: 10px;
}
#report_entries {
    height: auto;
    display: none;
    justify-content: center;
}
.reposrt-details-wrapper {
    width: 80%;
}
.report-details-header {
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    background-color: #FFF;
    border-bottom: 1px solid #dbdbdb;
}
.report-details-entries {
   display: grid;
   grid-template-columns: 20% 20% 20% 40%;
   height: 3px;
}
.report_block {
    background-color: white;
    border-radius: 1px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #dbdbdb;
}
.settings {
    margin-top: 10px;
    margin-bottom: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#group_all {
    height:20px;
    width: 20px;
    -moz-appearance: checkbox;
    vertical-align: top;
}