#pivotgrid {
    margin-top: 20px;
}
.dx-viewport {
    margin: 4px 10px 10px 10px;
    padding-bottom: 10px;
    border: 1px solid #dbdbdb;
}
#chart_details {
    height: 400px;
}
.dashboard {
   display: grid;
   grid-template-columns: 25% 75%;
   padding: 10px;
   padding-bottom: 5px;
}
.currency {
    text-align: center;
}
.results {
    padding: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #FFF;
    border: 1px solid #e6e6e6;
}
.results-header {
    grid-column: 1/3;
    font-weight: bold;
}
.results-block {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 20px;
    grid-auto-rows: max-content;
    padding: 0px 15px 0px 15px;
}
.results-text {
    text-align: right;
}
.dx_hidden {
    display: none;
}
#report_entries {
    height: auto;
    display: none;
    justify-content: center;
}
.reposrt-details-wrapper {
    width: 80%;
}
.report-details-header {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    background-color: #FFF;
    border-bottom: 1px solid #dbdbdb;
}
.report-details-entries {
   display: grid;
   grid-template-columns: 20% 20% 60%;
   height: 5px;
}
.report_block {
    background-color: white;
    border-radius: 1px;
    margin-right: 10px;
    padding: 20px;
    border: 1px solid #e6e6e6;
}
.settings_block {
    background-color: white;
    border-radius: 1px;
    margin-right: 10px;
    padding: 10px 20px 10px 20px;
    border: 1px solid #e6e6e6;
}
.checkbx {
    height:20px;
    width: 20px;
    -moz-appearance: checkbox;
    vertical-align: top;
}
.settings-row {
    margin-top: 10px;
}
.settings-item {
    display: inline-block;
    padding-top: 5px;
}