input {
    border: none;

}
select {
    border: none;
}

.font-bold {
    font-weight: bold;
}

.account-list {
    width: 70%;
    border: 1px solid #dbdbdb;
    margin: 20px 0px 20px 0px;
    background-color: #FFF;
    display: grid;
    grid-template-columns: 20% 80%;
}
.settings-menu {
    border-right: 1px solid #dbdbdb;
}
.set-menu-item {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
}
.set-menu-item:hover {
    border-left: 1px solid gray;
}
.acc-tree {
    margin-bottom: 20px;
}
.acc-tree-row-header {
    display: grid;
    grid-template-columns: 30% 20% 15% 15% 15% 5%;
    grid-auto-rows: max-content;
}
.acc-tree-row {
    display: grid;
    grid-template-columns: 30% 20% 15% 15% 15% 5%;
    grid-auto-rows: max-content;
}
.acc-tree-row:hover .del-button {
    display: block;
}
.acc-tree-header {
    padding: 10px;
    font-weight: bold;
}
.acc-tree-item {
    padding: 5px 10px 5px 10px;
}

.del-button {
    color: #999999;
    display: none;
}

.settings-block {

}
.settings-row{
    padding: 20px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-auto-rows: max-content;
}
.currency-row {
    display: grid;
    grid-template-columns: 50% 50%;
    cursor: pointer;
}

#add-currency-button {
    font-weight: bold;
}

.settings-modal {
    display: none;
    position: absolute;
    top: 200px;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 20px;
}

#form-new-acc {
    display: grid;
    grid-template-columns: 50% 50%;
}
#form-del-acc {
    text-align: center;
}
#form-new-cur {
/*    display: grid;
    grid-template-columns: 50% 50%;
*/}
#form-new-cur #id_default {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    width: 10%;
}

.modal-create-button {
    margin-top: 20px;
    grid-column: 2/3
}
