{% load i18n %}

<div class="reposrt-details-wrapper">
    <label>{% trans 'Total' %}:</label>
    <div>{{ total_sum|floatformat:3 }} </div>
    <br>
    <div class="report-details-header">
        <div>{% trans 'Date' %}</div>
        <div>{% trans 'Sum' %}</div>
        <div>{% trans 'Comment' %}</div>
    </div>
    {% for entry in entries %}
        <br>
        <div class="report-details-entries">
            <div>{{ entry.date|date:"Y M d" }}</div>
            <div>{{ entry.total|floatformat:3 }}</div>
            <div>{{ entry.comment }}</div>
        </div>
    {% endfor %}
</div>
