html {
    font-family: monospace;
    color: #2f2f2f;
}

body {
    background-color: #fafafa;
    margin: 0px;

}

input {
    border: 1px solid #dbdbdb;
    background-color: #fafafa;
    height: 25px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 9pt;
    -webkit-appearance: none;
    -moz-appearance:textfield;
}
button {
    border: 1px solid #dbdbdb;
    height: 25px;
    outline : none;
    background-color: #6089c8;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:active {
    background-color: #98aece;
}
a {
    text-decoration: none;
    outline : none;
    font-weight: bold;
}
a:active {
    opacity: 0.5;
}

footer {
    display: flex;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer-row {
    width: 70%;
    text-align: right;
    color: #9999ab;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 600px;
    padding-top: 200px;
}
.frame {
    border: 1px solid #e6e6e6;
    background-color: white;
    padding: 20px;
    margin: 8px 0px 8px 0px;
}
#id_username {

}
.auth-form {

}
.frame-header {
    text-align: center;
    margin: 0px 0px 20px 0px;
}
.auth-form input {
   width: 100%;
   margin: 5px 0px 2px 0px;
}
.auth-form button {
   width: 100%;
   margin: 15px 0px 5px 0px;
   font-weight: bold;
}
.error-list{
    text-align: center;
    font-size: 10pt;
    color: red;
}

.signup-frame {
    text-align: center;
}