#main-book {
    overflow: hidden;
    overflow-y: auto;
    width: 70%;
    height: 600px;
    padding: 0px 5px 0px 5px;
    border: 1px solid #dbdbdb;
    border-top: none;
    background-color: #FFF;
}
.main-book-settings {
    width: 70%;
    justify-content: right;
    display: flex;
}
.main-book-header {
    height: 15px;
    width: 70%;
    padding: 5px;
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 45%;
    border: 1px solid #dbdbdb;
    background-color: #FFF;
}
.main-book-row {
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 45%;
    grid-auto-rows: max-content;
}
.main-book-row:hover {
    color: black;
}
.main-book-item {
    cursor: pointer;
}
.break {
    flex-basis: 100%;
    height: 0;
}
#new-entry-form {
    display: grid;
    grid-template-columns: 13% 19% 15% 8% 40% 5%;
    width: 70%;
    grid-row-gap: 10px;
    margin: 20px 0px 20px 0px;
}
#new-entry-form input {
    width: 100%;
}
#new-entry-form select {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .new-entry-form {
        width: 95%
    }
   .main-book {
        width: 95%;
   }
   .main-book-header {
        width: 95%;
   }
}
