#chartContainer {
    margin: 4px 10px 10px 10px;
    background-color: white;
    border: 1px solid #e6e6e6
}
#chart {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px;
}
#chartArea {
    display: grid;
    background-color: none;
    z-index: 2;
    padding-left: 50px;
}
#chartAreaContainer {
    display: grid;
    grid-template-rows: 95% 5%;
}
#periodTitles{
    display: grid;
    border-top: 1px solid gray;
}
.periodTitle{
    display:flex;
    justify-content: center;
    align-items: center;
}
#chartBackground {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    z-index: 1;
}
.bgLine {
    border-top: 1px solid #ccc;
    display: flex;
    align-items: end;
    color: rgb(90, 90, 90);
}
.bgSubLine {
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);
    height: 50%;
}

#chartLegend {
    font-size: 1.2em;
}
#chartLegend span {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.legendItem {
    padding-left: 20px !important;
}

.chartPeriodBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.periodBar {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.barItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}
.barItem:hover {
    background-color: rgb(229, 238, 237);
}

.barLabel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5px;
    column-gap: 5px;
}
.barLabel span:first-child {
    text-align: right;
    color: #55666d;
}
.barLabel span:nth-child(2) {
    text-align: left;
    color: #585858;
}

.periodExps {
    background-color: rgb(243, 241, 237);
}
.periodIncs {
    background-color: rgb(238, 240, 239);
}
#chart_details {
    height: 400px;
}
#barDetails {
    display: none;
}
