#chartContainer {
    margin: 4px 10px 10px 10px;
    background-color: white;
    border: 1px solid #e6e6e6
}
#chart {
    display: grid;
    grid-template-columns: 10% 90%;
    margin: 20px;
}
#chartArea {
    display: grid;
    background-color: none;
    z-index: 2;
    padding-left: 50px;
    border-bottom: 1px solid rgb(158, 158, 158);
}
#chartAreaContainer {
    display: grid;
    grid-template-rows: 1fr 20px 20px;
}
#chartPeriodTitles{
    display: grid;
    padding-left: 50px;
    font-weight: bold;
    font-size: small;
}
.periodTitle{
    display: flex;;
    justify-content: center;
    align-items: end;
    border-right: 1px solid rgb(158, 158, 158);
}
.periodTitle:first-child {
    border-left: 1px solid rgb(158, 158, 158);
}
#chartPeriodSums {
    display: grid;
    text-align: center;
    padding-left: 50px;
}
#chartPeriodSums span {
    display: flex;
    justify-content: center;
    align-items: end;
}
#chartPeriodSums span {
    border-right: 1px solid rgb(158, 158, 158);
}
.sumsElement {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.sumsElement:first-child {
    border-left: 1px solid rgb(158, 158, 158);
}
#chartBackground {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    z-index: 1;
}
.bgLine {
    border-top: 1px solid #ccc;
    display: flex;
    align-items: end;
    color: rgb(90, 90, 90);
}
.bgSubLine {
    width: 100%;
    border-top: 1px solid rgb(238, 238, 238);
    height: 50%;
}

#chartLegend {
    font-size: 1.2em;
}
#chartLegend span {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
.legendItem {
    display: flex;
    align-items: center;
}
.chartPeriodBlock {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.periodBar {
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

.barItem {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    position: relative;
}
.barItem:hover {
    background-color: rgb(229, 238, 237);
}
.barItem:hover .barTooltip {
    display: block;
}
.barTooltip {
    display: none;
    position: absolute;
    background-color: rgb(56, 56, 56);;
    color:white;
    padding: 20px;
    right: 100%;
    z-index: 10;
}
.periodExps {
    background-color: rgb(243, 241, 237);
}
.periodIncs {
    background-color: rgb(238, 240, 239);
}
