{% extends "financez/base.html" %}
{% load static %}
{% load i18n %}


{% block scripts %}
    {{ block.super }}
    <script src="{% static 'entries/index.js' %}"></script>
{% endblock %}

{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'entries/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'entries/modal_account_list.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'entries/modal_edit_entry.css' %}">
{% endblock %}


{% block content %}

    <div class="row">
        <form method="POST" id="new-entry-form" action="{% url 'entries:create' %}" data-modal-url="{% url 'accounts:modal_accounts_list' %}">
            {% csrf_token %}
            {{ form.date }}
            <input id="acc_dr_input" />
            {{ form.acc_dr }}
            <input id="acc_cr_input" />
            {{ form.acc_cr }}
            {{ form.total }}
            {{ form.comment }}
            <button>{% trans 'Add' %}</button>
        </form>
    </div>

    <div class="row">
        <div class="main-book-settings">
            <input id="date-from" name="dateFilter" type="date" value="{{ date_from }}" />
            <label> - </label>
            <input id="date-to" name="dateFilter" type="date" value="{{ date_to }}" />
        </div>
    </div>

    <div class="row">
        <div class="main-book-header">
            <div>{% trans 'Date' %}</div>
            <div>{% trans 'DR' %}</div>
            <div>{% trans 'CR' %}</div>
            <div style="text-align: right">{% trans 'Sum' %}</div>
            <div style="text-align: center">{% trans 'Comment' %}</div>
        </div>
    </div>

    <div class="row">
        <entries-list-component id="main-book" data-url-list="{% url 'entries:list' %}">
        </entries-list-component>
    </div>

{% endblock %}
