{% load i18n %}


<div id="modal-account-list">
    <div class="account-container">

        <div class="acc-list-block" style="grid-area: a">
            <label class="results-header"> {% trans 'Assets' %} </label>
            <div> {% include 'accounts/account_list.html' with type=result_types.assets account_list=account_list padding=10 %} </div>
        </div>
        <div class="acc-list-block" style="grid-area: b; border-left: 1px solid #dbdbdb">
            <label class="results-header"> {% trans 'Expenses' %} </label>
            <div> {% include 'accounts/account_list.html' with type=result_types.expenses account_list=account_list padding=10 %} </div>
        </div>
        <div class="acc-list-block" style="grid-area: c">
            <label class="results-header"> {% trans 'Plans' %} </label>
            <div> {% include 'accounts/account_list.html' with type=result_types.plans account_list=account_list padding=10 %} </div>
        </div>
        <div class="acc-list-block" style="grid-area: d">
            <label class="results-header"> {% trans 'Debts' %} </label>
            <div> {% include 'accounts/account_list.html' with type=result_types.debts account_list=account_list padding=10 %} </div>
        </div>
        <div class="acc-list-block" style="grid-area: e">
            <label class="results-header"> {% trans 'Incomes' %} </label>
            <div> {% include 'accounts/account_list.html' with type=result_types.incomes account_list=account_list padding=10 %} </div>
        </div>

    </div>
</div>
